$primary-color: #5f7951;
$brand-color: #bbc1a4;
$mainFont: 'ralewaymedium', Arial, sans-serif;

#storyText
{
	background-color: $brand-color;
	font-family: $mainFont;

}

#ourChefs h2
{
	color: $primary-color;
}