body {
	background-color: #ffeecf;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	color: #fff;
}

h1, h2, h3, h4, h5 {
	font-family: 'Amatic SC', cursive;
	color: #fff;
}

a {
	color: #afaa99;
	font-size: 14px;
	font-family: 'Josefin Sans', sans-serif;
}

a:hover, a:focus {
	color: #000;
	-webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

.title-bar {
	position: fixed;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.7);
}

.top-bar {
	position: fixed;
	z-index: 1;
	width: 100%;
	padding: 0;
}

ul.dropdown.menu {
	text-align: center;
}

ul.dropdown.menu li {
	display: block;
	border-bottom: 1px solid rgba(175, 170, 153, 0.1);
}

.logo {
	display: none !important;
}

header {
	background: url('../images/header-img.jpg') fixed no-repeat;
	background-size: cover;
	background-position: bottom center;
	height: 100vh;
	position: relative;
}

.tagline {
	text-align: center;
	position: absolute;
	top: 45%;
}

.tagline h3 {
	font-size: 40px;
}

.our-story {
	position: relative;
	background: url('../images/our-story-img.jpg') fixed no-repeat;
	background-size: cover;
	background-position: bottom center;
	margin: 0;
	padding: 0;
	height: 200px;
}

.our-story h4 {
	position: absolute;
	top: 40%;
	width: 100%;
	font-size: 40px;
	text-align: center;
}

.our-story-info {
	background-color: #8f957c;
	padding: 20px;
	margin: 0;
}

.our-food {
	position: relative;
	background: url('../images/our-food-img.jpg') fixed no-repeat;
	background-size: cover;
	background-position: bottom center;
	margin: 0;
	padding: 0;
	height: 200px;
}

.our-food h4 {
	position: absolute;
	top: 40%;
	width: 100%;
	font-size: 40px;
	text-align: center;
}

.our-food-info {
	background-color: #afaa99;
	padding: 20px;
	margin: 0;
}

.food-menu {
	background: url('../images/menu-img.jpg') fixed no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.6);
}

.menu-info {
	padding: 20px;
}

.menu-info h4 {
	color: #b8b8b7;
	font-size: 40px;
	text-align: center;
}

.menu-info img {
	width: 20px;
}

ul.icons {
	text-align: center;
	margin: 0;
}

ul.icons li {
	display: inline-block;
}

ul.icons li:first-child {
	margin-right: 20px;
}

.menu-tabs {
	margin: 20px 0 20px 0;
	padding: 0;
}

.menu-tabs li a {
	color: #afaa99;
}

.menu-tabs li a:hover {
	color: #486b37;
}

li.tabs-title.is-active a {
	color: #486b37;
}

.tabs-panel ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
}

.tabs-panel ul li {
	margin: 15px 0 0 0;
}

.tabs-panel ul h6, .tabs-panel ul p {
	margin: 0;
}

.chefs h4 {
	font-size: 40px;
	color: #59774a;
	text-align: center;
	margin: 20px;
}

.chefs-info div {
	padding: 20px;
	background-color: #8f957c;
	margin: 0;
	text-align: center;
}

.chefs-info div.diff-background {
	background-color: #afaa99;
}

.chefs-info img {
	max-width: 300px;
}

.chefs-info h5 {
	font-size: 30px;
}

.events-img {
	background: url('../images/events-img.jpg') fixed no-repeat;
	background-size: cover;
	background-position: bottom center;
	height: 200px;
	position: relative;
}

.events-img h3 {
	font-size: 40px;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 35%;
}

.events-list {
	background-color: #ffeecf;
	padding: 20px;
}

.events-list h5 {
	font-size: 30px;
	color: #757a64;
}

.events-list p {
	color: #afaa99;
}

.line {
	width: 200px;
	border-bottom: 1px solid #757a64;
	margin: 30px 0 30px 0;
}

.contact {
	position: relative;
}

.map-wrapper {
	width: 100%;
	min-height: 100%;
	display: block;
	margin: 0 auto;
	position: absolute;
}

.contact-form {
	position: relative;
	padding: 20px;
	background-color: #bbc1a4;
	z-index: 1;
}

.contact-form h3 {
	font-size: 30px;
	text-align: center;
}

.contact-form p {
	text-align: center;
}

.contact-form label {
	color: #fff;
}

.contact-form input[type="text"], .contact-form input[type="email"] {
	background-color: #fffbee;
	height: 30px;
	padding: 10px;
}

.contact-form textarea  {
	background-color: #fffbee;
	height: 100px;
	resize: none;
	padding: 10px;
}

.contact-form input[type="submit"] {
	background-color: #59774a;
	color: #fff;
	padding: 12px 10px 10px 10px;
	font-size: 14px;
	font-family: 'Josefin Sans', sans-serif;
	display: block;
	margin: 0 auto;
	width: 100%;
	margin: 40px 0 15px 0;
}

.contact-form input[type="submit"]:hover {
	background-color: #afaa99;
	color: #fff;
	-webkit-box-shadow: inset 0px 0px 34px -19px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 34px -19px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 34px -19px rgba(0,0,0,0.75);
}

.footer-social {
	background: url('../images/footer-img.jpg') fixed no-repeat;
	background-size: cover;
	background-position: bottom center;
	text-align: center;
	padding: 20px;
}

.footer-social a {
	display: inline-block;
	z-index: 1;
	position: relative;
}

.footer-social a:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

.footer-social object {
	width: 25px;
	margin: 17px 10px 10px 10px;
	z-index: -1;
}

.copyright {
	background-color: #afaa99;
	text-align: center;
	padding: 20px;
	-webkit-box-shadow: inset 0px 89px 65px -85px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 89px 65px -85px rgba(0,0,0,0.75);
	box-shadow: inset 0px 89px 65px -85px rgba(0,0,0,0.75);
}

.copyright h5 {
	font-size: 20px;
}

.copyright p {
	margin: 0;
}


@media screen and (min-width: 40em) {

	.top-bar {
		background-color: rgba(0, 0, 0, 0.8);
		text-align: center;
		z-index: 2;
	}

	.top-bar-left {
		min-width: 100%;
	}

	ul.dropdown.menu {
		background-color: transparent;
	}

	ul.dropdown.menu li {
		display: inline-block;
		border: none;
	}

	.logo {
		display: inline-block !important;
	}

	a:hover, a:focus {
		color: #fff;
		-webkit-transition: all 0.8s ease-out;
	    -moz-transition: all 0.8s ease-out;
	    -o-transition: all 0.8s ease-out;
	    transition: all 0.8s ease-out;
	}

	header {
		width: 100%;
		text-align: center;
	}

	.tagline {
		width: 100%;
		text-align: center;
	}

	.about .row.small-up-1.medium-up-1.large-up-2 {
		min-width: 100%;
		overflow: hidden;
	}

	.our-story-info, .our-food-info {
		margin-bottom: -99999px;
		padding-bottom: 99999px;
	}

	.our-story-info p, .our-food-info p {
		margin-bottom: 50px;
	}

	.our-food {
		float: right !important;
	}

	.our-food-info {
		float: left !important;
	}

	.chefs-info {
		margin: 0;
		min-width: 100%;
		overflow: hidden;
	}

	.chefs-info .column.column-block {
		margin-bottom: -99999px;
		padding-bottom: 99999px;
	}

	.chefs-info img {
		width: 100%;
	}

	.contact-form {
		margin: 50px auto;
	}

}